<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mnu.exboard.mapper.BoardMapper">
	<!-- 전체 자료 수 -->
	<select id="boardCount" resultType="int">
		select count(*) from tbl_board	
	</select>

	<!-- 전체 자료 -->
	<select id="boardList" resultType="com.mnu.exboard.domain.BoardDTO">
		select * from tbl_board order by idx desc
	</select>

	<!-- 등록 -->
	<insert id="boardWrite">
		insert into tbl_board(name,subject,contents,pass)
					values(#{name},#{subject},${contents},#{pass})
	</insert>
	
	<!-- 뷰 -->
	<select id="boardView">
		select * from tbl_board where idx=#{idx}
	</select>
	
</mapper>