 <th:block th:replace="~{Include/topmenu}"></th:block>
 
<!DOCTYPE html>
 <html>
 <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title> 메인 페이지</title>
   <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
   <style type="text/css">
     td.title { padding:4px; background-color:#e3e9ff }
     td.content { padding:10px; line-height:1.6em; text-align:justify; }
     a.list { text-decoration:none;color:black;font-size:10pt; }
   </style>

 </head>
 <body topmargin="0" leftmargin="0">
   <table border="0" width="800">
     <tr>
       <td width="20%"  height="500" bgcolor="#ecf1ef" valign="top">
		 <!--  다음에 추가할 부분 -->
		<th:block th:replace="~{Include/login_form}"></th:block>

	   </td>
       <td width="80%" valign="top">&nbsp;<br>
  
			

    </td>
  </tr>
  </table>
  </body>
  </html>

  하단 메뉴

